h1.titles, h2.titles {
    text-align: center;    
    font-family: 'Rubik', sans-serif;
}


.port a {
    background-color: black;
    color: black;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #F4DFC8;
}

.end a{
    color: black;
}

.center {
    margin: auto;
    width: 60%;
    border: 5px solid #F4EAE0;
    padding: 10px;
}

footer {
    margin: auto;
    width: 60%;
    padding: 10px;
}

