h1.titles, h2.titles {
    text-align: center;    
    font-family: 'Rubik', sans-serif;
}

 a {
    background-color: black;
    color: black;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #F4DFC8;
}


.center {
    margin: auto;
    width: 60%;
    border: 5px solid white;
    padding: 10px;
}

footer {
    margin: auto;
    width: 60%;
    padding: 10px;
}